<main class="fl w-100">
  <header class="f4 center bg-red pa4 ph5-ns">
    <a class="f4 fw6 db black link hover-dark-gray dib" href="#0">{{title}}</a>
    <span class="fr" *ngIf="isLoggedIn">
      <span class="f6 fw4 hover-white no-underline white-70 dn dib-l pv2 ph3" >{{loggedInUser.username}}</span>
      <a class="f6 fw4 hover-white no-underline white-70 dib ml2 pv2 ph3 ba" (click)="logout()">Logout</a>
    </span>
  </header>

  <section class="pa4">
    <router-outlet></router-outlet>
    <!-- <app-chat></app-chat> -->
  </section>
  <footer class="bg-blue">

  </footer>
</main>
