<div class="tab-content">
	<form name="userForm" novalidate ng-submit="signup()">

		<div class="form-group" ng-class="{'has-error': userForm.email.$invalid && !userForm.email.$pristine}" >
			<label>Email</label>
			<input type="email" class="form-control" name="email" ng-model="user.email" ng-if="!readOnly" required></input>
			<span class="help-block" ng-show="userForm.email.$error.required && !userForm.email.$pristine">Required</span>
		</div>

		<div class="form-group" ng-class="{'has-error': userForm.password.$invalid && !userForm.password.$pristine}">
			<label>Password</label>
			<input type="password" class="form-control" name="password" ng-model="user.password"required></input>
			<span class="help-block" ng-show="userForm.password.$error.required && !userForm.password.$pristine">Required</span>
			<span class="help-block" ng-show="userForm.password.$error.pattern">Wrong Input</span>
		</div>

		<input type="submit" value="Sign Up" ng-disabled="userForm.$invalid"></input>
	</form>
</div>
